@import "config";

$header-font-size: 72px;
@mixin headers-style {
  font-size: $header-font-size;
  font-family: $headers-font;
  font-weight: 900;
  color: $secondary-color-darker;
}
.confirm-container {
  @include container();
  /* place-items: center center; */

  .confirm-sub-container {
    @include submaincontainer;
    margin: 100px 0;
    display: grid;
    grid-template-columns: 35%fr;
    place-items: center center;
    .sub-sub {
      display: grid;
      justify-items: center;
      width: 100%;
      /* justify-self: center; */
      padding: 100px 0;
      h1 {
        @include headers-style;
        margin-bottom: 30px;
      }
      img {
        width: 300px;
      }
    }
  }
}
