* {
  margin: 0;
  padding: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100vw;
  overflow-x: hidden;
  overflow-y: scroll;
}

.fig-back1 {
  position: absolute;
  height: 400px;
  left: -250px;
}

.shape1 {
  position: absolute;
  top: 200px;
  left: -120px;
  opacity: 20%;
  height: 400px;
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
}

.shape2 {
  position: absolute;
  top: 400px;
  right: -500px;
  height: 750px;
  opacity: 25%;
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
}

.shape3 {
  position: absolute;
  top: 700px;
  left: -30px;
  height: 200px;
  opacity: 50%;
  z-index: -1;
}

.footer {
  display: -ms-grid;
  display: grid;
  /* position: relative; */
  height: 320px;
  width: 100vw;
  background-color: #77c1fd;
  place-items: center center;
}

.footer .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  padding: 0 5vw;
}

.footer .container div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  margin: 30px;
}

.footer .container div span {
  font-family: "Lato", sans-serif;
  color: rgba(255, 255, 255, 0.6);
}

.footer .container .navigation,
.footer .container .subscription {
  border-right: solid 2px white;
}

.footer .container .navigation .nav-item,
.footer .container .subscription .nav-item {
  text-decoration: none;
  color: white;
  padding: 10px 0;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* margin-right: 30px; */
  text-transform: capitalize;
  font-size: large;
}

.footer .container .navigation .nav-item:hover,
.footer .container .subscription .nav-item:hover {
  font-weight: 700;
}

.footer .container .subscription {
  margin-left: 0;
}

.footer .container .social_media {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[4];
      grid-template-columns: repeat(4, auto);
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  justify-items: center;
  place-content: center;
  margin-right: 0;
}

.footer .container .social_media small {
  grid-column: 1/-1;
  font-family: "Lato", sans-serif;
  font-size: smaller;
  color: rgba(255, 255, 255, 0.7);
}

.footer .container .social_media a {
  margin: 10px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.footer .container .social_media a:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

@media only screen and (max-width: 810px) {
  .footer {
    height: 700px;
  }
  .footer .container {
    place-items: center center;
  }
  .footer .container div {
    grid-column: 1/-1;
    place-items: center center;
    border-right: none !important;
    border-bottom: solid 2px white;
    margin: 0px !important;
    width: 60vw;
    padding: 30px;
  }
  .footer .container div .nav-item {
    font-size: 20px !important;
  }
  .footer .container div:last-child {
    border: none;
  }
}
