@import "config";
.error-container {
  width: 1vw;
  display: grid;
  /*   grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr; */
  place-items: center center;
  padding: 0 10vw;
  div {
    display: grid;
    width: 80vw;
    margin: 20px 0 100px;
    place-items: center center;
    .btn1 {
      justify-self: center;
      padding: 20px 50px;
    }
    img {
      width: 80%;
    }
  }
}
