* {
  margin: 0;
  padding: 0;
  /* border: none; */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100vw;
  overflow-x: hidden;
  overflow-y: scroll;
}

.fig-back1 {
  position: absolute;
  height: 400px;
  left: -250px;
}

.shape1 {
  position: absolute;
  top: 200px;
  left: -120px;
  opacity: 20%;
  height: 400px;
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
}

.shape2 {
  position: absolute;
  top: 400px;
  right: -500px;
  height: 750px;
  opacity: 25%;
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
}

.shape3 {
  position: absolute;
  top: 700px;
  left: -30px;
  height: 200px;
  opacity: 50%;
  z-index: -1;
}

#error-area {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  display: -ms-grid;
  display: grid;
  height: 0px;
  background-color: rgba(255, 123, 96, 0.5);
  -webkit-box-shadow: 0 0 10px #ff7b60;
          box-shadow: 0 0 10px #ff7b60;
  grid-column: 1/-1;
  place-content: center center;
  width: 100%;
  font-family: "Merriweather", serif;
  font-weight: 500;
  text-shadow: 0 0 2px #6f8191;
}

.editor-container {
  width: 70vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  margin: 100px 15vw;
}

.editor-container #title {
  font-family: "Merriweather", serif;
  color: #6f8191;
  font-size: 28px;
  text-transform: capitalize;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
}

.editor-container #title:focus {
  border-left: solid 3px #77c1fd;
}

.editor-container textarea {
  border: none;
  padding: 10px;
  margin: 10px;
  border-radius: 2px;
  resize: none;
  overflow: hidden;
  height: 42px;
  text-justify: auto;
  font-size: 16px;
}

.editor-container textarea:focus {
  border-left: solid 2px #77c1fd;
}

.editor-container .ce-paragraph {
  padding-left: 20px;
}

.editor-container .ce-paragraph:focus {
  -webkit-box-shadow: 0 0 5px #77c1fd;
          box-shadow: 0 0 5px #77c1fd;
  border-radius: 5px;
}

.editor-container .save {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  grid-gap: 10px;
}

.editor-container .save .draft {
  background-color: white;
  color: #6f8191;
  border: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform-origin: center;
          transform-origin: center;
  text-shadow: 1px 2px 5px #77c1fd;
}

.editor-container .save .draft:hover {
  cursor: pointer;
  color: #1592e6;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.editor-container .save .btn1 {
  border-radius: 5px;
  padding: 10px 70px;
}

.tag-editor {
  width: 70vw !important;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: (minmax(50px, auto))[3] !important;
      grid-template-columns: repeat(3, minmax(50px, auto)) !important;
  margin-bottom: 50px;
}

.tag-editor .tag {
  /* display: grid !important;
    justify-items: flex-start;
    grid-template-columns: repeat(autofit, minmax(100px, 1fr)) !important; */
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(50px, 70px) auto;
      grid-template-columns: minmax(50px, 70px) auto;
  -webkit-box-shadow: 0 0 5px #6f8191;
          box-shadow: 0 0 5px #6f8191;
  border-radius: 5px;
  margin: 2px;
}

.tag-editor .tag input {
  width: auto !important;
  border: solid 1px #77c1fd !important;
  background-color: #77c1fd;
  border-right-width: 0px !important;
  height: 30px !important;
  border-radius: 5px 0px 0px 5px;
  padding: 5px;
}

.tag-editor .tag input:focus {
  background-color: white;
}

.tag-editor .tag a {
  border-radius: 0px 5px 5px 0px;
  padding: 5px 0px;
  width: 4px;
  border: solid 1px #ff7b60;
  border-left-width: 0px !important;
  height: 30px !important;
  background-color: #ff7b60;
  font-size: 0px;
}

.tag-editor .tag a:hover {
  cursor: pointer;
}

.tag-editor .tag-editor-placeholder {
  text-transform: capitalize;
  color: #6f8191;
}

.tag-editor .tag-editor-placeholder:hover {
  cursor: pointer;
}
