$primary-color: #659ffe;
$info-color: #77c1fd;
$secondary-color: #6f8191;
$secondary-color-darker: #1a1e23;
$pink: #ff58a0;
$green: #3dff3d;
$orange: #ff7b60;
$crevette: #ff7b60;

$headers-font: "Merriweather", serif;
$links-font: "Lato", sans-serif;
$paragraph-font: "Montserrat", sans-serif;
