@import "config";
$header-font-size: 72px;
@mixin headers-style {
  font-size: $header-font-size;
  font-family: $headers-font;
  font-weight: 900;
  color: $secondary-color-darker;
  text-transform: capitalize;
}
@mixin line($height: 70px) {
  width: 0;
  height: $height;
  border: solid 2px $info-color;
}
@mixin paragraphs {
  font-family: $paragraph-font;
  padding: 20px 70px;
  font-weight: 500;
  font-size: 20px;
}

.about-container {
  h1 {
    @include headers-style;
  }
  .line {
    @include line();
  }
  @include container();
  border: none;
  .about-sub-container {
    .social-contact {
      position: fixed;
      top: 80vh;
      right: 10px;
      .btn1 {
        display: block;
        height: 30px;
        width: 30px;
        padding: 0px;
        margin: 5px;
        opacity: 70%;
        transition: all 0.4s;
        * {
          transform: scale(1.2);
          transform-origin: center;
        }
        &:hover {
          opacity: 100%;
          transform: scale(1.2);
        }
      }
    }
    width: 90vw;
    display: grid;
    place-content: center center;
    .pt1 {
      display: grid;
      grid-template-columns: 50vw 1fr;
      grid-gap: 10px;
      padding: 30px 0;
      img {
        width: 100%;
        position: relative;
        right: 5vw;
      }
      .story {
        padding-top: 50px;
        p {
          @include paragraphs;
          position: relative;
          top: -80px;
        }
        .line1 {
          position: relative;
          left: 40px;
        }
      }
      .line2 {
        /* margin-top: 370px; */
        @include line(450px);
        position: relative;
        left: 70vw;
        top: -100px;
      }
      .fig-back1 {
        height: 400px;
        position: absolute;
        top: 700px;
        left: 47vw;
        opacity: 40%;
        z-index: -1;
      }
    }
    .pt2 {
      display: grid;
      grid-template-columns: 1fr;
      place-items: center center;
      position: relative;
      top: -200px;
      .something {
        width: 60vw;
        p {
          @include paragraphs;
          padding: 30px 0;
        }
      }
      .line3 {
        @include line(350px);
        position: relative;
        right: 25vw;
      }
    }
    .pt3 {
      @extend .pt2;

      margin-bottom: 150px;
      .else {
        width: 60vw;
        position: relative;
        top: -50px;
      }
      h1 {
        text-align: end;
      }
      p {
        @include paragraphs;
        padding: 30px 0;
      }
      .fig-back1 {
        height: 250px;
        left: -350px;
        opacity: 40%;
      }
      .eclipse {
        opacity: 100%;
        width: 100px;
        left: -170px;
        top: -70px;
      }
      .triangle {
        opacity: 100%;
        height: 100px;
        left: 60vw;
        top: -250px;
      }
    }
  }
}
@media only screen and (max-width: 1000px) {
  .pt1 {
    grid-template-columns: 1fr !important;
    .story {
      grid-row: 1/2;
    }
    .line2 {
      top: 20px !important;
      height: 350px !important;
      left: 12vw !important;
    }
    .fig-back1 {
      top: 1100px !important;
      transform: rotate(30deg);
      left: 40vw !important;
    }
  }
  .pt2 {
    margin-top: 50px;
    .line3 {
      height: 200px !important;
      right: -15vw !important;
      margin-bottom: 50px;
    }
  }
}
