@import "config";

.footer {
  display: grid;
  position: relative;

  height: 320px;
  width: 100vw;
  background-color: $info-color;
  place-items: center center;

  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 80vw;
  }
  div {
    display: grid;
    grid-template-columns: 1fr;
    margin: 30px;
    span {
      font-family: $links-font;
      color: rgba($color: white, $alpha: 0.6);
    }
  }
  .navigation,
  .subscription {
    border-right: solid 2px white;
    .nav-item {
      text-decoration: none;
      color: white;
      padding: 10px 0;
      font-family: $links-font;
      font-weight: 400;
      margin-right: 30px;
      text-transform: capitalize;
      font-size: large;
      &:hover {
        font-weight: 700;
      }
    }
  }
  .social_media {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: auto auto;
    justify-items: center;
    place-content: center;
    small {
      grid-column: 1/-1;
      font-family: $links-font;
      font-size: smaller;
      color: rgba($color: white, $alpha: 0.7);
    }
    a {
      margin: 10px;
    }
  }
}
