@import "config";

.main-profile-container {
  @include container();
  .profile-container {
    display: grid;
    margin: 100px 0;
    width: 80vw;
    grid-template-columns: 1fr 2fr;
    grid-gap: 30px;
    .addingpost {
      grid-column: 1/-1;
      justify-self: flex-end;
      padding: 10px 75px;
      text-transform: capitalize;
      font-weight: 400;
      font-size: 18px;
    }
    .my-infos {
      display: grid;
      .header {
        display: grid;
        grid-template-columns: 100px 1fr;
        align-items: center;
        img {
          height: 100px;
          width: 100px;
          border-radius: 100px;
          box-shadow: 0 0 10px $secondary-color;
        }
        h1 {
          padding-left: 20px;
          font-family: $headers-font;
          text-transform: capitalize;
        }
      }
      .body {
        font-family: $headers-font;
        text-transform: capitalize;
        margin-left: 50px;
        border-left: solid 1px $primary-color;
        padding-left: 20px;
        h2 {
          margin: 0;
          padding: o;
        }
        ul {
          padding: 0;
          margin: 0;
          li {
            list-style-type: none;
            color: $secondary-color;
            font-family: $links-font;
            margin-top: 10px;
          }
        }
      }
      button {
        margin-top: 30px;
        width: 80%;
        padding: 10px;
        text-transform: capitalize;
        font-weight: 400;
        font-size: 20px;
      }
    }
    .posts-area {
      background-color: white;
      box-shadow: 0 0 20px rgba($color: $secondary-color, $alpha: 0.8);
      .header {
        height: 50px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        justify-content: start;
        padding: 0 25%;
        border-bottom: solid 2px $secondary-color;

        button {
          border: none;
          background-color: white;
          font-family: $links-font;
          color: $secondary-color;
          font-size: 25px;
          font-weight: 700;
          padding: 0 20px;

          &:hover {
            border-bottom: solid 2px $primary-color;
          }
        }
      }
    }
  }
}
