* {
  margin: 0;
  padding: 0;
  /* border: none; */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100vw;
  overflow-x: hidden;
  overflow-y: scroll;
}

.fig-back1 {
  position: absolute;
  height: 400px;
  left: -250px;
}

.shape1 {
  position: absolute;
  top: 200px;
  left: -120px;
  opacity: 20%;
  height: 400px;
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
}

.shape2 {
  position: absolute;
  top: 400px;
  right: -500px;
  height: 750px;
  opacity: 25%;
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
}

.shape3 {
  position: absolute;
  top: 700px;
  left: -30px;
  height: 200px;
  opacity: 50%;
  z-index: -1;
}

#error-area {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  display: -ms-grid;
  display: grid;
  height: 0px;
  background-color: rgba(255, 123, 96, 0.5);
  -webkit-box-shadow: 0 0 10px #ff7b60;
          box-shadow: 0 0 10px #ff7b60;
  grid-column: 1/-1;
  place-content: center center;
  width: 100%;
  font-family: "Merriweather", serif;
  font-weight: 500;
  text-shadow: 0 0 2px #6f8191;
}

.post-container {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-columns: 1fr 50px;
      grid-template-columns: 1fr 50px;
  grid-gap: 50px;
  border-bottom: solid 2px #6f8191;
  padding-bottom: 20px;
  margin-bottom: 30px;
}

.post-container .post-properties {
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  justify-items: flex-end;
}

.post-container .post-description {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
}

.post-container .post-description .posted-date {
  -ms-flex-item-align: start;
      align-self: flex-start;
  justify-self: flex-end;
  color: #6f8191;
}

.post-container .post-description p,
.post-container .post-description .post-interactions {
  grid-column: 1/-1;
}

.post-container .post-description .post-interactions {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[3];
      grid-template-columns: repeat(3, auto);
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  grid-gap: 30px;
}

.post-container .post-description .post-interactions .icon {
  margin-right: 5px;
}
